@media screen and (max-width:1050px){
    
    nav{
        flex-direction: column;
    }

    .slider img{
        height: 23vh;
    }

    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    nav ul{
        justify-content: center;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 12px 16px;
    }

    nav ul {
        height: 34px;
    }
    .card-item img{ 
        width: 140px;
    }
}